.AboutGG-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.AboutGG-tag-line {
    font-size: 2.5rem;
    color: #a0cf67 !important;
    font-family: 'Marker Felt', display, sans-serif;
    font-weight: bolder;
}

.AboutGG-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px 24px 50px;
    padding: 0 20px;
    border: #4F2683 solid 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #4F2683;
}
