
.LeadershipTeam-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin: 0 50px;
}

.LeadershipTeam-title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 20px auto;
    padding: 20px 60px;
    border-bottom: 10px solid #f89420;
    border-radius: 50%;
    background-color: #4F2683;
    color: #FFFFFF;
}
