
.LocationGrid-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 50px;
    background-image: linear-gradient(180deg,
      rgba(12,113,195,0.42) 0%,
      rgba(12,113,195,0.42) 100%),
      url('../../../src/assets/general/tnt-hero-bg.jpeg')
      !important;
    border-radius: 10px;
}
.Location-title {
}

.Location-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
}

.App-link {
    color: #61dafb;
}
