.LocationCard-logo {
    display: flex;
    margin: 10px auto;
    max-height: 150px;
    max-width: 220px;
}

.LocationCard-button {
    max-width: fit-content;
    margin: 40px auto;
    font-size: 2rem;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #4F2683;
    color: #FFFFFF;
}

.LocationCard-button:hover {
    background-color: #f89420;
    color: #4F2683;
    font-weight: bold;
    box-shadow: 0 0 10px #4F2683;
    transition: 0.45s;
}

.LocationCard-detail {
    font-size: 1.5rem;
    margin-bottom: 8px;
    padding-bottom: 8px;
    flex-wrap: nowrap;
    font-family: 'Marker Felt', display, sans-serif;
    font-weight: normal;
    color: #666666;
}

.LocationCard-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
    border: #4F2683 solid 5px;
    border-radius: 10px;
    width: 315px;
    height: 450px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #4F2683;
}

a {
    text-decoration: none;
}

.App-link {
    color: #61dafb;
}
