
.LocationCard-logo {

}
.LocationCard-name {
    font-size: 75%;
    margin: 4px;
    padding: 2px;
}

.LocationCard-card {
    background-color: white;
    max-height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #282c34;
    border: 30px;
    margin: 30px
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
