
.LocationCard-logo {
}

.LocationCard-title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: auto;
    background-color: #282c34;
    color: white;

}

.LocationCard-detail {
    font-size: 75%;
    margin: 8px;
    padding: 8px;
    flex-wrap: nowrap;
}

.LocationCard-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    min-height: 280px;
    min-width: 280px;
    max-height: 280px;
    max-width: 280px;
    color: #282c34;
    margin: 24px;
    border-radius: 5px;
    flex: 1;
}

.App-link {
    color: #61dafb;
}
