
.ContactGrid-container {

}
.ContactGrid-title {

}
.ContactGrid-grid {
    background-color: #282c34;
    max-height: 10%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
