
.ContactGrid-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ContactGrid-title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 20px auto;
    padding: 20px 60px;
    border-bottom: 10px solid #f89420;
    border-radius: 50%;
    background-color: #4F2683;
    color: #FFFFFF;
    box-shadow: 0 0 5px #4F2683;
    font-family: 'Marker Felt', display, sans-serif;
    font-weight: bolder;
}

.ContactGrid-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    max-width: 1000px;
    margin: 10px auto;
    padding: 10px;
}
