
.LocationGrid-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 50px;
}
.Location-title {
}

.Location-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
}

.App-link {
    color: #61dafb;
}
