.App-header {
  max-height: 10%;
  font-size: calc(10px + 2vmin);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f89420;
  color: #4F2683;
  font-weight: bolder;
  margin-bottom: 50px;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-right a {
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: calc(10px + 1vmin);
  border-radius: 20px;
}

.header-right a:hover {
  color: #FFFFFF;
  transition: 0.25s;
  cursor: pointer;
  background-color: #4F2683;
  border-radius: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .App-header {
    flex-direction: column;
  }

  .header-right {
    display: flex;
    flex-direction: column;
  }

  .header-right a {
    font-size: calc(10px + 2vmin);
  }
}
