.App-header {
  background-color: #282c34;
  max-height: 10%;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header-right a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: calc(10px + 1vmin);
}

.header-right a:hover {
  color: rgb(177, 177, 177);
  transition: 0.25s;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .App-header {
    flex-direction: column;
  }

  .header-right {
    display: flex;
    flex-direction: column;
  }

  .header-right a {
    font-size: calc(10px + 2vmin);
  }
}
