.LeaderCard-about {
    font-size: calc(10px + 1vmin);
    margin: 3.125rem;
    padding: 20px
}

.LeaderCard-container {
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 0 0 5px #4F2683;
    background-color: #f89420;
}
.LeaderCard-details {
    margin: 20px 0;
    max-width: 800px;
    color: #666666;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 5px #4F2683;
    border: #4F2683 5px solid;
}

.LeaderCard-image {
    max-height: 280px;
    max-width: 280px;
    border: #4F2683 5px solid;
    box-shadow: 0 0 5px #4F2683;
    border-radius: 20px;
    margin: 2rem;
}

.LeaderCard-name {
    margin:2rem 30%;
    /*padding: 20px;*/
    color: #a0cf67;
    font-family: 'Marker Felt', display, sans-serif;
    font-weight: bolder;
    border-bottom: #4F2683 10px solid;
    border-radius: 10px;
}

.LeaderCard-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
