.SubHeader-container {
    max-height: 10%;
    font-size: calc(10px + 2vmin);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #4F2683;
    font-weight: bolder;
    margin-bottom: 20px;
}

.SubHeader-button {
    max-width: fit-content;
    margin: 40px auto;
    font-size: 2rem;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #4F2683;
    color: #FFFFFF;
}

.SubHeader-button:hover {
    background-color: #f89420;
    color: #4F2683;
    font-weight: bold;
    box-shadow: 0 0 10px #4F2683;
    transition: 0.45s;
}

.SubHeader-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

