.ContactCard-about {
    font-size: calc(10px + 1vmin);
}

.ContactCard-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: calc(10px + 1vmin);
    margin-bottom: 1rem;
    flex-wrap: nowrap;
}

.ContactCard-detail-line {
    justify-content: center;
    font-size: calc(10px + 1vmin);
    margin: 0;
    flex-wrap: nowrap;
}

.ContactCard-logo {
    display: flex;
    margin: 10px auto;
    max-height: 150px;
    max-width: 220px;
}

.ContactCard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
    border-radius: 5px;
    width: 300px;
}
