.ContactCard-about {
    font-size: calc(10px + 1vmin);
}

.ContactCard-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    flex-wrap: nowrap;
}

.ContactCard-detail-line {
    justify-content: center;
    margin: 0.5rem;
    flex-wrap: nowrap;
    text-decoration: none;
    font-family: 'Marker Felt', display, sans-serif;
    font-weight: normal;;
    color: #666666;
}

.ContactCard-logo {
    display: flex;
    margin: 10px auto;
    max-height: 150px;
    max-width: 220px;
}

.ContactCard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
    border: #4F2683 solid 5px;
    border-radius: 10px;
    width: 315px;
    height: 450px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #4F2683;
}
